
<body style="background-color: #dcdcdc"></body>
<link rel="stylesheet" href="css/rules.css">

    <div id="lista_tlumaczen"></div>
    <i><a href="{{ url_for('home') }}">Powrót</a></i>


<br>
<table style="margin: 0 auto;">
    <tr >
    <th>Spis tłumaczeń Biblii</th>
    </tr>

    <tr>
    <td>
    <dd>Biblia Gdańska</dd>
    <dd>Biblia Warszawska</dd>
    <dd>Biblia Tysiąclecia</dd>
    <dd>Biblia Warszawsko-Praska</dd>
    <dd>Edycja Świętego Pawła</dd>
    <dd>Nowa Biblia Gdańska</dd>
    <dd>Uwspółcześniona Biblia Gdańska</dd>
    <dd>Biblia Brzeska</dd>
    <dd>Biblia Poznańska</dd>
    <dd>Biblia Jakuba Wujka</dd>
    <dd>Biblia Mesjańska</dd>
    <dd>Biblia Nowego Świata</dd>
    <dd>Biblia Lubelska</dd>
    <dd>Słowo Życia</dd>
    <dd>Przekład Dosłowny</dd>
    <dd>Biblia Toruńska</dd>
    </td>
    </tr>

</table>


<br><br><br>

<div id="lista_ksiegi"></div>
<table style="margin: 0 auto;">
    <tr>
    <th>Ksiągi Starego Testamentu</th>
    <th>Ksiągi Nowego Testamentu</th>
    </tr>


    <tr>
    <td>
    <dd>Ks. Rodzaju </dd>
    <dd>Ks. Wyjścia </dd>
    <dd>Ks. Kapłańska</dd>
    <dd>Ks. Liczb</dd>
    <dd>Ks. Powtórzonego Prawa</dd>
    <dd>Ks. Jozuego </dd>
    <dd>Ks. Sędziów</dd>
    <dd>Ks. Rut</dd>
    <dd>1 Ks. Samuela</dd>
    <dd>2 Ks. Samuela</dd>
    <dd>1 Ks. Królewska</dd>
    <dd>2 Ks. Królewska</dd>
    <dd>1 Ks. Kronik</dd>
    <dd>2 Ks. Kronik</dd>
    <dd>Ks. Ezdrasza</dd>
    <dd>Ks. Nehemiasza</dd>
    <dd>Ks. Estery</dd>
    <dd>Ks. Hioba</dd>
    <dd>Ks. Psalmów</dd>
    <dd>Ks. Przysłów</dd>
    <dd>Ks. Koheleta</dd>
    <dd>Pieśń nad pieśniami</dd>
    <dd>Ks. Izajasza</dd>
    <dd>Ks. Jeremiasza</dd>
    <dd>Lamentacje Jeremiasza</dd>
    <dd>Ks. Ezechiela</dd>
    <dd>Ks. Daniela</dd>
    <dd>Ks. Ozeasza</dd>
    <dd>Ks. Joela</dd>
    <dd>Ks. Amosa</dd>
    <dd>Ks. Abdiasza</dd>
    <dd>Ks. Jonasza</dd>
    <dd>Ks. Micheasza</dd>
    <dd>Ks. Nahuma</dd>
    <dd>Ks. Habakuka</dd>
    <dd>Ks. Sofoniasza</dd>
    <dd>Ks. Aggeusza</dd>
    <dd>Ks. Zachariasza</dd>
    <dd>Ks. Malachiasza</dd>
    </td>


    <td>
    <dd>Ew. Mateusza</dd>
    <dd>Ew. Marka</dd>
    <dd>Ew. Łukasza</dd>
    <dd>Ew. Jana</dd>
    <dd>Dzieje Apost.</dd>
    <dd>List do Rzymian</dd>
    <dd>1 list do Koryntian</dd>
    <dd>2 list do Koryntian</dd>
    <dd>List do Galatów</dd>
    <dd>List do Efezjan</dd>
    <dd>List do Filipian</dd>
    <dd>List do Kolosan</dd>
    <dd>1 List do Tesaloniczan</dd>
    <dd>2 List do Tesaloniczan</dd>
    <dd>1 List do Tymoteusza</dd>
    <dd>2 List do Tymoteusza</dd>
    <dd>List do Tytusa</dd>
    <dd>List do Filemona</dd>
    <dd>List do Hebrajczyków</dd>
    <dd>List Jakuba</dd>
    <dd>1 List Piotra</dd>
    <dd>2 List Piotra</dd>
    <dd>1 List Jana</dd>
    <dd>2 List Jana</dd>
    <dd>3 List Jana</dd>
    <dd>List Judy</dd>
    <dd>Apokalipsa (Objawienie)</dd>
</td>
    
    </tr>
</table>





<br><br>

<i><a href="#top">Do góry</a></i>

<br><br><br><br>

 <hr>

    <footer class="base">
        
        Darowizna na cele statutowe (1zł) (2zł) (5zł) 
        <br>
        przed wysłaniem sprawdź, czy numer konta zgadza się z podanym na stronie, aby mieć pewność, że Twoje wsparcie trafi bezpośrednio do nas.
        <br>
        Piotr Zaborski   <b>[BIC SWIFT INGBPLPW] IBAN PL 25 1050 1461 1000 0097 1058 3049</b>
        <br>
        <a>kontakt email:</a>
        <a href="mailto:adm4website@gmail.com">adm4website@gmail.com</a>
        <br>
        <p>Wszelkie prawa zastrzeżone &copy; 2026 Play The Bible</p>
    </footer>